{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block content %}

<section class="bg-color-1 h100vh uk-flex">
    <div class="border-1 uk-width-1-4 uk-margin-auto uk-margin-auto-vertical uk-flex uk-flex-column">
        <h1 class="uk-text-uppercase uk-margin-auto uk-margin-small-bottom uk-margin-medium-top uk-text-medium color-3 fs-30 separator">Romain wenger</h1>
        <h3 class="uk-text-capitalize uk-margin-auto uk-margin-small-top uk-margin-medium-bottom color-3 fs-25">Développeur Web Junior</h3>
    </div>
</section>

{% endblock %}
