{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Romain Wenger{% endblock %}

{% block content %}

<section class="bg-img-1 section">
    <div data-aos="fade-right" data-aos-duration="2000" class="border-1 text-center">
        <h1 class="montserrat white fs-25 separator tagline">Romain wenger</h1>
        <h3 class="montserrat white fs-22 tagline">Développeur Web Junior</h3>
    </div>
</section>

<section class="section">
    <p>oui</p>
</section>
{% endblock %}
