{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block content %}

<section class="bg-color-1 h100vh">
    <div class="border-1 uk-width-1-4 uk-margin-auto uk-flex uk-flex-column uk-flex-center">
        <h1 class="uk-text-uppercase uk-text-medium color-3 fs-30">Romain wenger</h1>
        <h3 class="uk-text-small color-3 fs-25">Développeur Web Junior</h3>
    </div>
</section>

{% endblock %}
