{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Romain Wenger{% endblock %}

{% block content %}

    {% include 'include/header-back.html' %}

    <form action="{{ path('security_login') }}" method="post"  class="col s12">

        <label for="pseudo" class="">Identifiant</label>
        <input class="" type="text" required name="_username" id="pseudo">

        <label for="mdp" class="">Mot de passe</label>
        <input type="password" required name="_password" id="mdp">

        <input type="submit" value="Connexion" class="">

    </form>
        
{% endblock %}