<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css">
        <title>MyMeteo</title>
    </head>
    <body>
        <section class="app">
            <div id="deviceready">
                <h1>
                    <span id="ville"></span>
                    <span class="tooltype">Tapez une autre ville si vous le souhaitez.</span>
                </h1>
                <i class="wi wi-day-rain"></i>
                <h2>
                    <span id="temperature"></span> C° (<span id="conditions"></span>)
                </h2>
            </div>
        </section>

        <script src="js/app.js"></script>   
    </body>
</html>
