/* ===========================================================================
                            CLASSE GENERIQUE
=========================================================================== */

    /* Color + background color & img + border */

    .color-1{color: #fff;}
    .color-2{color: #a6ed8e;}
    .color-3{color: #002d3d;}


    .bg-transparent{background-color: transparent;}
    .bg-color-1-opa{background-color: rgba(253, 233, 224, 0.5);}

    .bg-img-1{background: url(../img/bg-header-4.png)no-repeat center center; background-size: cover;}

    .border-1{border: 1px solid #002d3d;}

    /* Font size + font family */

    .fs-20{font-size:20px;}
    .fs-25{font-size:25px;}
    .fs-30{font-size:30px;}


    /* Margin + Padding */

    /* Height / Width */
    
    .w100{width:100%;}

    .h100vh{height: 100vh;}
/* ===========================================================================
                            CLASSE SPECIFIQUE
=========================================================================== */

    /* ===========================================================================
                                        NAV 
    =========================================================================== */

        /* Pour la nav en offcanvas */

        .uk-offcanvas-bar{background-color: #002d3d;} /* Background off nav */
        .uk-offcanvas-bar a{color: #FFEBCD;}    /* Color liens */
        .uk-offcanvas-bar a:hover{color: #fff;} /* Color liens hover */

        /* Menu button */

        .uk-button-default, .uk-button-default:focus, .uk-button-default:hover{border: 1px solid #fff; color: #fff;}


    /* ===========================================================================
                                    HOME PAGE
    =========================================================================== */

    .separator::after{      /* Séparateur centré */
        content: "";
        display: block;
        height: 1px;
        width: 120px;
        background-color: #212121;
        margin: 20px auto 0px;
        text-align: center;
    }




