<header id="home">
    <nav class="">
        <div class="container m-auto d-flex justify-content-between p-20">
            <a href="">
                <img class="logo" src="../img/logo-orange.png" alt="Logo portfolio">
            </a>

            <ul class="d-flex justify-content-around">
                <li class="align-self-center montserrat light fs-20 ml-80">
                    <a class="text-decoration-none color-1" href="/">Revenir à l'acceuil</a>
                </li>
            </ul>
        </div>
    </nav>
</header>