{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Page Introuvable
{% endblock %}

{% block content %}
    
    <section class="flex block-on-med-and-down mtop80-mm">

        <h1 class="oswald fs95 rotated mleft100p mrightNeg100p h1-sm h1-mm"><span class="color2">404</span> PAGE NOT FOUND</h1>

        <div class="container center">
            <img src="assets/img/img-404.jpg" alt="404" class="w100-sm w100-mm mtop30-sm mtop30-mm">
        </div>

    </section>
    
{% endblock %}