<!-- Menu all format -->

<nav>
    <p>non</p>
    <ul>
        <li class="">
            <a href="https://www.linkedin.com/in/romain-wenger/" target="_blank"><i class="fab fa-linkedin-in white fs-20"></i></a>
        </li>
        <li class="">
            <a href="https://www.facebook.com/romain.wenger.98" target="_blank"><i class="fab fa-facebook-f white fs-20"></i></a>
        </li>
        <li class="">
            <a href="https://twitter.com/Romain_WebDev" target="_blank"><i class="fab fa-twitter white fs-20"></i></a>
        </li>
        <li class="">
            <a href="https://github.com/r0m21" target="_blank"><i class="fab fa-github white fs-20"></i></a>
        </li>
    </ul>
</nav>
  


      