<!-- Menu all format -->

<nav id="offcanvas-reveal" uk-offcanvas="mode: reveal; flip: true;">

    <div class="uk-offcanvas-bar">
<!-- Icon croix -->
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div class="uk-nav uk-nav-default uk-height-1-1">
            <div class="uk-flex uk-height-1-1 uk-flex-column">

                <div class="uk-width-1-1 uk-margin-medium-top"> 
                    <p class="uk-text-center uk-text-small uk-text-capitalize color-1 fs-20">Romain wenger</p>  
                    <p class="uk-text-center uk-text-small uk-text-uppercase color-1">Développeur Web Junior</p>
                    <hr class="uk-divider-icon uk-margin-medium-top">
                </div>
                
                <ul class="uk-flex uk-flex-around uk-flex-column uk-height-1-1 uk-padding">
                    
                    <li class="uk-nav-item uk-flex uk-flex-center uk-width-1-1">
                        <a class="uk-text-uppercase color-2" href="">Home</a>
                    </li>

                    <li class="uk-nav-item uk-flex uk-flex-center uk-width-1-1">
                        <a class="uk-text-uppercase color-2" href="skills">Skills</a>
                    </li>
                    
                    <li class="uk-nav-item uk-flex uk-flex-center uk-width-1-1">
                        <a class="uk-text-uppercase color-2" href="projects">Projects</a>
                    </li>
                </ul>
            </div>

            <div class="uk-list">
                <ul class="uk-flex uk-flex-center uk-padding-remove">
                    <li class="">
                        <a href="https://www.linkedin.com/in/romain-wenger/" target="_blank"><i class="fab fa-linkedin-in white fs-20"></i></a>
                    </li>
                    <li class="uk-margin-medium-left">
                        <a href="https://www.facebook.com/romain.wenger.98" target="_blank"><i class="fab fa-facebook-f white fs-20"></i></a>
                    </li>
                    <li class="uk-margin-medium-left">
                        <a href="https://twitter.com/Romain_WebDev" target="_blank"><i class="fab fa-twitter white fs-20"></i></a>
                    </li>
                    <li class="uk-margin-medium-left">
                        <a href="https://github.com/r0m21" target="_blank"><i class="fab fa-github white fs-20"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Bouton MENU -->
<div data-aos="fade-left" class="bg-transparent uk-width-1-1 uk-flex uk-flex-right@s uk-flex-center uk-position-fixed">
    <a id="button-nav" href="#offcanvas-reveal" class="uk-button uk-button-default uk-margin-top uk-margin-bottom uk-margin-large-right no-margin-right-xs color-1" uk-toggle>MENU</a>  
</div>
  


      