<!-- Menu all format -->

<nav id="offcanvas-reveal" uk-offcanvas="mode: reveal;">
    <div class="uk-offcanvas-bar">
<!-- Icon croix -->
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <ul class="uk-nav uk-nav-default uk-height-1-1">
            <div class="uk-flex uk-flex-around uk-height-1-1 uk-flex-column">

                <li class="uk-nav-item uk-width-1-1"> 
                    <p class="uk-text-center uk-text-small uk-text-capitalize color-1 fs-20">Romain wenger</p>  
                    <p class="uk-text-center uk-text-small uk-text-uppercase color-1">Développeur Web Junior</p>
                    <hr class="uk-divider-icon uk-margin-medium-top">
                </li>

                <li class="uk-nav-item uk-flex uk-flex-center uk-width-1-1">
                    <a class="uk-text-uppercase color-2" href="">Home</a>
                </li>

                <li class="uk-nav-item uk-flex uk-flex-center uk-width-1-1">
                    <a class="uk-text-uppercase color-2" href="skills">Skills</a>
                </li>
                
                <li class="uk-nav-item uk-flex uk-flex-center uk-width-1-1">
                    <a class="uk-text-uppercase color-2" href="projects">Projects</a>
                </li>
            </div>
        </ul>
    </div>
</nav>
<div class="bg-color-1 w100 uk-flex uk-flex-right uk-position-fixed">
    <a href="#offcanvas-reveal" class="uk-button uk-button-default uk-margin-top uk-margin-bottom uk-margin-large-right" uk-toggle>MENU</a>
</div> 

      