html{font-size:62.5%;}



/* ------------- Fonts ------------- */
        /* Tailles */

        .fs95{font-size:9.5rem;}
        .fs32{font-size:3.2rem;}
        .fs24{font-size:2.4rem;}
        .fs20{font-size:2rem;}
        .fs18{font-size:1.8rem;}
        .fs16{font-size:1.6rem;}
        .fs12{font-size: 1.2rem;}
        .bold{font-weight:600;}
        .light{font-weight:300;}

        /* Families */

        .roboto{font-family: 'Roboto', sans-serif;}
        .oswald{font-family: 'Oswald', sans-serif;}
        .raleway{font-family: 'Raleway', sans-serif;}


/* ------------- Couleurs ------------- */

        .color1{color:#F0F0EB;} /* gris clair */
        .color2{color:#f5b553;} /* jaune doré */
        .color3{color:#854836;} /* marron */
        .color4{color:#fff; } /* blanc */
        .color5{color:#222222;} /* noir */
        .txt-decoration-none{text-decoration: none;}
        .color-inherit{color: inherit;}

        /* Backgrounds */

        .bgcolor1{background-color:#F0F0EB;} /* gris clair */
        .bgcolor2{background-color: #f5b553;} /* jaune doré */
        .bgcolor3{background-color: #854836;} /* marron */
        .bgcolor4{background-color: #fff} /* blanc */
        .bgcolor5{background-color: #222222} /* noir */
        .bgnocolor{background:none !important;}


/* ------------- Génériques ------------- */

        /* Display and justify */

        .flex{display: flex;}
        .iblock{display: inline-block;}
        .flexdcolumn{ flex-direction:column;}
        .jcbetween{justify-content: space-between;}
        .jcaround{justify-content: space-around;}
        .jccenter{justify-content: center;}
        .aicenter{align-items:center;}
        .txtcenter{text-align:center;}


        /* Positions */

        .absolute{position:absolute;}
        .fixed{position:fixed;}
        .relative{position: relative;}
 
        .buttonTop{
                bottom: 15%;
                left: 90%
        }
        
        .textjustify{text-align:justify;}
        .center{margin:auto;}


/* ------------- Margins & Paddings ------------- */

        .mbot30p{margin-bottom:30px;}
        .mtop50p{margin-top:50px;}
        .mtop40p{margin-top:40px;}
        .mtop30p{margin-top:30px;}
        .mtop20p{margin-top:20px;}
        .mtop15p{margin-top: 15px;}
        .mtop10p{margin-top: 10px;}
        .mrightNeg100p{margin-right:-100px;}
        .mtopNeg30p{margin-top:-30px;}
        .mtopNeg20p{margin-top:-20px;}
        .mleft100p{margin-left:100px;}
        .mleft35p{margin-left:35px;}
        .mleft30p{margin-left:30px;}
        .mleft10p{margin-left:10px;}
        .padding15p{padding:15px;}
        .pt50p{padding-top:50px;}


/* ------------- Heights ------------- */
        .h100vh{height:100vh;}
        .h300p{height:300px;}
        .h210p{height:210px;}
        .h180p{height:180px;}
        

        .minheight150p{min-height: 150px;}

        .lh210p{line-height: 210px;}
        .lh100p{line-height:100px;}


/* ------------- Widths ------------- */
        .w100{width:100%;}
        .w605p{width:605px;}
        .w300p{width:300px;}
        .w150p{width:150px;}
        .w75p{width:75px;}
        
        

/* ------------- Spécifiques ------------- */

        .noborder{border:none !important;}
        .noshadow{box-shadow:none;}
        .imgcarousel{
                max-width: 640px;
                height:300px;}
            
        hr{
        color:#f5b553;
        border:1px solid;
        }
        .nopargin{
                margin:0;
                padding:0;
                }
        
        .owl-prev{display: none;}
        .owl-nav{display:none;}
        .rotated{
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                }
        i:hover{color:#f5b553;}
        
        .row .col .input-field:first-child{
                padding-left:0px;
        }

        #back-to-top:hover {
                background: #ffcc00;
            }
        #back-to-top.show {
                opacity: 1;
            }

        .row .col .input-field:nth-child(2){
                padding-right:0px;
        }

.listautocomplete {
    padding: 14px 16px;
    font-size: 16px;
    color: #26a69a;
    position: relative;
    top: 0px;
    left: 0px;
    width: auto;
    z-index: 500;
    border: 0px solid black;
    display: none;
    background: white;
    -moz-box-shadow: 0px 0px 5px 1px #cfcfcf;
    -webkit-box-shadow: 0px 0px 5px 1px #cfcfcf;
    -o-box-shadow: 0px 0px 5px 1px #cfcfcf;
    box-shadow: 0px 0px 5px 1px #cfcfcf;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=5);
}



/*display: block;
line-height: 22px;
*/

.liautocomplete {
    background-color: transparent;
}

    .liautocomplete:hover {
        background-color: #cfcfcf;
    }

        
        .waves-button-input{color:#fff;}
        .btn:hover{background-color: #222;}

        input[type=range]+.thumb{
                background-color: #222;
                color:#f5b553;
        }

/* ------------- Media queries ------------- */


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
        .mrightNeg100p{margin-right:-100px;}
        .mleft100p{margin-left:100px;}


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
        .minheight150p{min-height: 0;}
        .block-on-med-and-down{display: block;}
        .w100-mm{width:100%;}
        .h180p{height:0px;}        
        .mtop80-mm{margin-top:80px;}
        .mtop30-mm{margin-top:30px;}
        .h56p-sm{height:56px;}
        .lh56{line-height: 56px;}
        /* Annulation des classes appliquées au H1 en large-screen */
        .h1-mm{
                display:block;
                margin:0;
                font-size:4.6rem;
                text-align: center;
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
                }
        /* Placement de la nav en bottom fixed */
        .navBottom{
                position:fixed;
                bottom:0;
                left:50%;
                transform:translateX(-50%);
                display:inline-block;
                line-height: 0px;
                background-color:white;
                opacity:0.8;
                width:100%;
                z-index:999;
                }
        .fs32-mm{font-size:3.2rem;}
        .fs24-mm{font-size:2.4rem;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
        .minheight150p{min-height: 0;}
        .block-on-med-and-down{display: block;}
        .w100-mm{width:100%;}
        .h180p{height:0px;}        
        .mtop80-mm{margin-top:80px;}
        .mtop30-mm{margin-top:30px;}
        .h56p-sm{height:56px;}
        .lh56{line-height: 56px;}
        .flexcolumn{flex-direction:column;}
        
        /* Annulation des classes appliquées au H1 en large-screen */
        .h1-mm{
                display:block;
                margin:0;
                font-size:4.6rem;
                text-align: center;
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
                }
        /* Placement de la nav en bottom fixed */
        .navBottom{
                position:fixed;
                bottom:0;
                left:50%;
                transform:translateX(-50%);
                display:inline-block;
                line-height: 0px;
                background-color:white;
                opacity:0.8;
                width:100%;
                z-index:999;
                }
        .fs32-mm{font-size:3.2rem;}
        .fs24-mm{font-size:2.4rem;}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
        .minheight150p{min-height: 0;}
        .imgcarousel{
                max-width: 640px;
                max-height:210px;
                }
        /* Placement de la nav en bottom fixed */
        .navBottom{position:fixed;
                bottom:0;
                left:50%;
                transform:translateX(-50%);
                display:inline-block;
                line-height: 0px;
                background-color:white;
                opacity:0.8;
                width:100%;
                z-index:999;
                }
        .h300p{height:200px;}
        .h180p{height:0px;}
        .h56p-sm{height:56px;}
        .lh56{line-height: 56px;}
        .respHR{width:200px;}
        .w100-sm{width:100%;}
        .w605p{width:300px}
        .mtop80-mm{margin-top:0px;}
        .mtop30-sm{margin-top:30px;}
        .mtop10-sm{margin-top:10px;}
        .mbot10-sm{margin-bottom:10px;}
        .mtop10neg-sm{margin-top:-10px;}
        .fs20-sm{font-size:2rem;}
        .fs16-sm{font-size:1.6rem;}
        .block-on-med-and-down{display: block;}
        
        /* Annulation des classes appliquées au H1 en large-screen */
        .h1-sm{
                display:block;
                margin:0;
                font-size:3.2rem;
                text-align: center;
                writing-mode: horizontal-tb;
                transform: rotate(0deg);
                }
}
