<header class="row" id="encre">    
    <div class="col offset-s2 offset-m2 offset-l5 s8 m8 l2 center-align">
        <div class="mleft10p">
                <a href=""><img src="assets/img/logo-ctb-01.png" alt="logo" class="mtop15p"></a><br>
            <p class="oswald light fs24 fs20-sm fs32-mm nopargin">Avec nous la vie est si rose</p>
        </div>
        <hr>
    </div>
    <nav class="h180p col offset-l3 l2 s12 bgnocolor noborder noshadow h56p-sm">
        <div class="lh210p navBottom center-align">
            <div class="mtop10-sm">
                <a href="recherche"> <i class="color5 fas fa-search fa-4x lh56"></i></a>
                <a href="./"> <i class="color5 fas fa-home fa-4x mleft30p lh56"></i></a>
                <a href="informations"> <i class="color5 fas fa-question-circle fa-4x mleft30p lh56"></i></a>
            </div>
        </div>
    </nav>
    

</header>