<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400|Raleway" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="./assets/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Chope ta bière !{% endblock %}</title>
    </head>
    <body class="bgcolor1 relative">
        
        {% include 'Layout/header.html.twig' %}

        <main>
            {% block content %}{% endblock %}


            <a href="#encre" id="back-to-top" title="Retour en haut"><i class="fas fa-arrow-alt-circle-up color2 fa-4x fixed buttonTop absolute "></i></a>

        </main>

        {% include 'Layout/footer.html.twig' %}
        
    </body>
</html>